@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";
header {
  background: rgb(154, 11, 55);
  background: linear-gradient(
    71deg,
    rgba(154, 11, 55, 1) 0%,
    rgba(251, 19, 89, 1) 100%
  );
  padding: 2rem;
  color: $color-light;
  text-transform: uppercase;
}
main {
  padding: 3rem 0;
  .article-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    article {
      @include card;
      h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $color-primary-500;
      }
      p {
        margin: 1rem 0;
      }
    }
  }
}

@include md {
  main {
    .article-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
