<header>
  <h1>Orders</h1>
</header>
<main>
  <div class="container">
    <div class="article-grid">
      <article>
        <h3>How to order</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
          possimus aliquam sunt, molestiae perferendis sint maiores non
          voluptates repellendus debitis repudiandae unde adipisci.
        </p>
      </article>
      <article>
        <h3>After ordering</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p>
          Hic officiis molestias repellat. Unde animi voluptatum dolores nam.
          Sapiente temporibus itaque accusamus assumenda, voluptate veritatis?
        </p>
      </article>
      <article>
        <h3>Pricing</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
          possimus aliquam sunt, molestiae perferendis sint maiores.
        </p>
        <p>
          Sapiente temporibus itaque accusamus assumenda, voluptate veritatis?
        </p>
      </article>
      <article>
        <h3>Change order</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
          possimus aliquam sunt, molestiae perferendis sint maiores.
        </p>
        <p>
          Sapiente temporibus itaque accusamus assumenda, voluptate veritatis?
        </p>
      </article>
    </div>
  </div>
</main>
