<nav>
  <button
    type="button"
    (click)="changeSidebarVisibility()"
    [ngClass]="{ active: sidebarDisplayed }"
  >
    <i class="fas fa-bars"></i>
  </button>
  <div class="logo">SD_NAUTILUS</div>
  <ul>
    <li>
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a routerLink="packages" routerLinkActive="active">Packages</a>
    </li>
    <li>
      <a routerLink="orders" routerLinkActive="active">Orders</a>
    </li>
    <li>
      <a routerLink="docs" routerLinkActive="active">Docs</a>
    </li>
    <li>
      <a
        routerLink="contact"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Contact</a
      >
    </li>
  </ul>
</nav>
