<header>
  <div class="container">
    <h1>Packages</h1>
  </div>
</header>
<main>
  <div class="container">
    <article>
      <h3>How it works</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
        possimus aliquam sunt, molestiae perferendis sint maiores non voluptates
        repellendus debitis repudiandae unde adipisci inventore hic officiis
        molestias repellat. Unde animi voluptatum dolores nam. Sapiente
        temporibus itaque accusamus assumenda, voluptate veritatis?
      </p>
    </article>
    <article>
      <h3>How they work together</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
        possimus aliquam sunt, molestiae perferendis sint maiores non voluptates
        repellendus debitis repudiandae unde adipisci inventore hic officiis
        molestias repellat. Unde animi voluptatum dolores nam. Sapiente
        temporibus itaque accusamus assumenda, voluptate veritatis?
      </p>
    </article>
    <article>
      <h3>Pricing</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
        possimus aliquam sunt, molestiae perferendis sint maiores non voluptates
        repellendus debitis repudiandae unde adipisci inventore hic officiis
        molestias repellat. Unde animi voluptatum dolores nam. Sapiente
        temporibus itaque accusamus assumenda, voluptate veritatis?
      </p>
    </article>
  </div>
</main>
<section>
  <div class="container">
    <h2>List of packages</h2>
    <table>
      <thead>
        <tr>
          <th>Package name</th>
          <th>Usecases</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2D</td>
          <td>For 2D modeling</td>
          <td>Package for 2D modeling</td>
          <td>$100</td>
        </tr>
        <tr>
          <td>#D</td>
          <td>For 3D modeling</td>
          <td>Package for 3D modeling</td>
          <td>$150</td>
        </tr>
        <tr>
          <td>Waterfront</td>
          <td>For waterfront modeling</td>
          <td>Package for waterfront modeling</td>
          <td>$170</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
