<header>
  <h1>Packages</h1>
</header>
<main>
  <div class="container">
    <div class="article-grid">
      <article>
        <h3>How they work</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
          possimus aliquam sunt, molestiae perferendis sint maiores non
          voluptates repellendus debitis repudiandae unde adipisci.
        </p>
      </article>
      <article>
        <h3>How to combine them</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p>
          Hic officiis molestias repellat. Unde animi voluptatum dolores nam.
          Sapiente temporibus itaque accusamus assumenda, voluptate veritatis?
        </p>
      </article>
      <article>
        <h3>Pricing</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia
          possimus aliquam sunt, molestiae perferendis sint maiores.
        </p>
        <p>
          Sapiente temporibus itaque accusamus assumenda, voluptate veritatis?
        </p>
      </article>
    </div>
  </div>
</main>
<section>
  <div class="container">
    <div class="package-list-wrapper">
      <h2>List of packages</h2>
      <table>
        <thead>
          <tr>
            <th>Package name</th>
            <th>Commands count</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let singlePackage of packages">
            <td>{{ singlePackage.name }}</td>
            <td>{{ singlePackage.commandsCount }}</td>
            <td>{{ singlePackage.description }}</td>
            <td>${{ singlePackage.price }}</td>
            <td>
              <a [routerLink]="[singlePackage.link]"
                ><i class="fas fa-info"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
