<footer>
  <div>
    <h3>SD_NAUTILUS</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
      dolore porro quasi repudiandae. Assumenda magni totam sapiente? Nobis
      dignissimos, quod suscipit rem amet debitis sint illo.
    </p>
  </div>
  <div class="links-wrapper">
    <div>
      <h5>Orders</h5>
      <ul>
        <li>
          <a href="">Orders</a>
        </li>
        <li>
          <a href="">Having problems?</a>
        </li>
        <li>
          <a href="">FAQ</a>
        </li>
      </ul>
    </div>
    <div>
      <h5>Resources</h5>
      <ul>
        <li>
          <a href="">About</a>
        </li>
        <li>
          <a href="">Docs</a>
        </li>
        <li>
          <a href="">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
