@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";
footer {
  background-color: $color-dark-500;
  color: $color-light;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  text-align: justify;

  h3,
  h5 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 1rem;
    color: $color-primary-500;
  }
  h3 {
    color: $color-primary-500;
  }
  h5 {
    font-size: 1rem;
  }
  li {
    margin-top: 0.5rem;
  }
  .links-wrapper {
    display: flex;
    & > div {
      margin: 0 1rem;
    }
  }
}
@media only screen and (min-width: 768px) {
  footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) {
  footer {
    grid-template-columns: 1fr 2fr;
  }
}
