<footer>
  <div>
    <h3>SD_NAUTILUS</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
      dolore porro quasi repudiandae. Assumenda magni totam sapiente? Nobis
      dignissimos, quod suscipit rem amet debitis sint illo? Facilis,
      architecto, odio adipisci tempora suscipit eum repellat provident
      repellendus ea repudiandae sed eius ad expedita harum. Earum dolorum,
      nostrum consequuntur quod explicabo impedit.
    </p>
  </div>
  <div>
    <h5>Orders</h5>
    <ul>
      <li>
        <a href="">Orders</a>
      </li>
      <li>
        <a href="">Having problems?</a>
      </li>
      <li>
        <a href="">FAQ</a>
      </li>
    </ul>
  </div>
</footer>
