<header>
  <h1>Packages - {{ singlePackage.name }}</h1>
</header>
<main>
  <div class="container">
    <h3>Description</h3>
    <p>
      {{ singlePackage.description }}
    </p>
  </div>
</main>
<section>
  <div class="container">
    <div class="commands-list-wrapper">
      <h2>List of commands</h2>
      <table>
        <thead>
          <tr>
            <th>Command name</th>
            <th>Command description</th>

            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commands of singlePackage.commands">
            <td>{{ commands.name }}</td>
            <td>{{ commands.description }}</td>
            <td>
              <a [routerLink]="[commands.link]"><i class="fas fa-info"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
